main[data-barba-namespace='activity'] {
  .siblings {
    margin-block: var(--space-large);
    border-top: 1px solid;
    border-bottom: 1px solid;

    .wrapper {
      display: flex !important;
      justify-content: space-between;
      gap: var(--space-gutter);

      @include mobile {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
