main[data-barba-namespace='home'] {
  > .hero {
    width: 100%;
    height: 100vh;

    @include mobile {
      height: 50vh;
    }
  }

  .section--description {
    --section-color: var(--color-kiwi);

    position: relative;
    padding-block: var(--space-large);
    overflow: hidden;

    .wrapper {
      @include font('header');
      position: relative;
      z-index: 1;
      text-align: center;

      > div {
        max-width: 30ch;
        margin-inline: auto;
        margin-bottom: var(--space-gutter);
      }

      h2 {
        @include font('zone');
        font-size: 8rem;

        @include mobile {
          font-size: 6rem;
        }
      }
    }

    .mask {
      position: absolute;
      top: 0;
      left: 50%;
      width: $max-width;
      transform: translateX(-50%) translateY(-12%);

      path {
        stroke: none;
      }
    }
  }

  .section--numbers {
    --section-background: var(--color-darkgreen);
    --section-color: var(--color-kiwi);

    .prose {
      max-width: 50ch;
    }

    .numbers {
      margin-block: var(--space-padding);
    }
  }

  .section--skills {
    .activities {
      place-items: center;

      a span {
        @include font('zone');
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: var(--space-gutter);

        &::after {
          @include easing(transform);
          @include arrow;
        }
      }

      a:hover span::after {
        transform: translateX(100%);
      }
    }
  }

  .section--partners {
    .partners {
      --columns: 5;
      align-items: center;

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }

      figure {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .section--skills,
  .section--partners {
    .wrapper {
      margin-inline: auto !important;
    }

    h2 {
      @include font('zone');
      margin-bottom: var(--space-padding);
      text-align: center;
      text-transform: initial;
    }
  }

  figure.footer {
    height: 30vh;
    margin-bottom: -10rem;
  }

}
