$max-width: 1440px;
$safe-zone: 280px; // Safe zone on left of document for logo when not narrow

$breakpoint-mobile: 1024px;

@mixin desktop {
  @media (min-width: $breakpoint-mobile + 1) {
    @content;
  }
}

@mixin narrow {
  @media (max-width: $max-width + $safe-zone) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: 2x) {
    @content;
  }
}

@mixin reduced-motion {
  @media (prefers-reduced-motion) {
    @content;
  }
}

@mixin debug-view {
  html[data-hash='debug'] & {
    @content;
  }
}
