html {
  scroll-behavior: smooth;
}

body {
  @include font('body');
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  color: var(--color-darkgreen);
  background: var(--color-white);
}

main {
  > .section:first-child {
    padding-top: var(--menu-height);
  }
}

a {
  -webkit-tap-highlight-color: rgba(255 255 255 / 0%);
  color: inherit;
  text-decoration-line: none;
  text-decoration-thickness: inherit;

  .prose & {
    text-decoration-line: underline;
    text-underline-offset: inherit;
    text-decoration-thickness: inherit;
    text-decoration-color: currentcolor;
  }

  &[href^='tel:'] {
    text-decoration: none;
  }
}

figure {
  img, video {
    @include no-select;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--focus-x, 50%) var(--focus-y, 50%);
  }

  img[loading='lazy'], video {
    @media (scripting: enabled) {
      @include easing(opacity, var(--easing-slow));
      opacity: 0;
      &.is-loaded { opacity: 1; }
    }
  }

  figcaption:empty {
    display: none;
  }
}
