html {
  scroll-behavior: smooth;
}

body {
  @include font('body');
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  color: var(--color-darkgreen);
  background: var(--color-white);
}

main {
  > .section:first-child {
    padding-top: var(--menu-height);

    @include mobile {
      padding-top: calc(var(--menu-height) * 0.75);
    }
  }
}

::selection {
  color: var(--color-darkgreen);
  background: var(--color-kiwi);
}

a {
  -webkit-tap-highlight-color: rgba(255 255 255 / 0%);
  color: inherit;
  text-decoration-line: none;
  text-decoration-thickness: inherit;

  .prose & {
    text-decoration-line: underline;
    text-underline-offset: inherit;
    text-decoration-thickness: inherit;
    text-decoration-color: currentcolor;
  }

  &[href^='tel:'] {
    text-decoration: none;
  }
}


.quote{
  font-size: 2.5rem;
  line-height: 3rem;
  padding: 2vw 4vw;
}


.kiwi{
    color: var(--color-kiwi);
}

figure {
  &.has-border {
    overflow: hidden;
    border: 1px solid;
    border-radius: 5px;
  }

  img, video {
    @include no-select;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--focus-x, 50%) var(--focus-y, 50%);
  }

  img[loading='lazy'], video {
    @media (scripting: enabled) {
      @include easing(opacity, var(--easing));
      opacity: 0;
      &.is-loaded { opacity: 1; }
    }
  }

  figcaption:empty {
    display: none;
  }
}

[class*='cols-'] {
  display: grid;
  grid-template-columns: repeat(var(--columns, 1), 1fr);
  gap: var(--space-gutter);

  @include mobile {
    grid-template-columns: 1fr;
  }

  &.cols-2 { --columns: 2; }
  &.cols-3 { --columns: 3; }
  &.cols-4 { --columns: 4; }
  &.cols-5 { --columns: 5; }
  &.cols-6 { --columns: 6; }
}
