.prose {
  hyphens: manual;

  h1, h2, h3, h4, h5, h6,
  p, ol, ul, li {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  ul {
    padding-left: 1em;
    list-style: disc outside;
  }

  li {
    padding-left: 1ch;
    margin-left: -0.5ch;
    list-style-type: '▶';

    &::marker {
      color: var(--color-paprika);
    }
  }

  ol {
    padding-left: 1em;
    list-style: numeric outside;
  }
}
