.activity {
  @include font('zone');

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-block: var(--space-gutter);

  svg {
    position: absolute;
  }

  // TODO[animation]

  &::after {
    content: '→'; // TODO[arrows]
    margin-left: var(--space-gutter);
  }

  &:first-child:has(+ &:last-child)::before {
    content: '←'; // TODO[arrows]
    margin-right: var(--space-gutter);
  }

  &:first-child:has(+ &:last-child)::after { content: ''; }
}
