:root {
  --menu-height: calc(var(--menu-logo-height) * 2); // Hardcoded, used for spacing in layouts

  --menu-logo-color: var(--color-darkgreen);
  --menu-logo-height: 10rem;
  --menu-logo-width: 6rem; // Hardcoded, used for spacing in layouts
  --menu-logo-active-height: 20rem;

  --menu-items-max-width: 800px;
  --menu-items-width: 60vw;

  --menu-item-background: var(--color-darkgreen);
  --menu-item-color: var(--color-white);
  --menu-item-shadow: 0 0 1.2rem rgba(250 241 227 / 30%);
  --menu-item-hover-background: #467A73;
  --menu-item-active-color: var(--color-kiwi);
  --menu-item-radius: 5px;
  --menu-item-padding: 0.25em 1em;
  --menu-item-gap: 5px;

  @include mobile {
    --menu-logo-height: 14rem;
    --menu-logo-active-height: var(--menu-logo-height);

    --menu-item-gap: 1rem;
    --menu-item-padding: 0.5em 0.75em;
  }
}

#home {
  @include easing(height);
  position: fixed;
  z-index: var(--z-logo);
  top: var(--space-gutter);
  left: var(--space-gutter);

  display: block;
  height: var(--menu-logo-height);

  color: var(--menu-logo-color);

  mix-blend-mode: multiply;

  &.is-active {
    height: var(--menu-logo-active-height);
  }

  svg {
    width: auto;
    height: 100%;
  }
}

.menu {
  @include no-select;

  position: fixed;
  z-index: var(--z-menu);
  right: 0;
  left: 0;

  padding-block: var(--space-padding);
  padding-inline: var(--space-gutter);

  &__wrapper {
    position: relative;

    display: flex;
    justify-content: space-between;
    gap: var(--space-gutter);
    max-width: $max-width;
    margin-inline: auto;
  }

  label[for='toggle-menu'] {
    @include font('menu');
    position: absolute;
    right: var(--space-gutter);

    padding: var(--menu-item-padding);
    cursor: pointer;

    color: var(--menu-item-color);

    background: var(--menu-item-background);
    border-radius: var(--menu-item-radius);
    box-shadow: var(--menu-item-shadow);

    @include desktop { display: none; }

    svg {
      height: 1em;
      overflow: visible;

      path {
        @include easing(transform);
        transform-origin: 50% 50%;
      }
    }
  }

  #toggle-menu:checked ~ & label[for='toggle-menu'] {
    svg path:nth-child(1) {
      transform: translateX(-4px) translateY(4px) rotate(45deg) scaleX(1.42);
    }

    svg path:nth-child(2) {
      transform: scaleX(0);
    }

    svg path:nth-child(3) {
      transform: translateX(-4px) translateY(-4px) rotate(-45deg) scaleX(1.42);
    }
  }

  &__items {
    position: absolute;
    right: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11ch, 1fr));
    gap: var(--menu-item-gap);
    width: 100%;
    max-width: max(var(--menu-items-width), var(--menu-items-max-width));

    @include mobile {
      position: fixed;
      top: calc(var(--space-padding) + var(--menu-font-size) * 2 + var(--menu-item-gap));
      right: var(--space-gutter);

      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  #toggle-menu:not(:checked) ~ & &__wrapper &__items {
    @include mobile {
      display: none;
    }
  }

  &__item a {
    @include easing((background, color));
    @include font('menu');

    display: block;
    padding: var(--menu-item-padding);

    color: var(--menu-item-color);

    background: var(--menu-item-background);
    border-radius: var(--menu-item-radius);
    box-shadow: var(--menu-item-shadow);

    &:hover {
      color: var(--menu-item-hover-color, var(--menu-item-color));
      background: var(--menu-item-hover-background, var(--menu-item-background));
    }

    &.is-active {
      color: var(--menu-item-active-color, var(--menu-item-color));
      background: var(--menu-item-active-background, var(--menu-item-background));
    }
  }
}

#toggle-menu {
  display: none;
}
