:root {
  --menu-height: calc(var(--menu-logo-height) * 2); // Hardcoded, used for spacing in layouts

  --menu-logo-color: var(--color-darkgreen);
  --menu-logo-height: 10rem;
  --menu-logo-active-height: 20rem;

  --menu-items-max-width: 800px;
  --menu-items-width: 60vw;

  --menu-item-background: var(--color-darkgreen);
  --menu-item-color: var(--color-white);
  --menu-item-hover-background: #467A73;
  --menu-item-active-color: var(--color-kiwi);
  --menu-item-radius: 5px;
  --menu-item-padding: 0.25em 1em;
  --menu-item-gap: 5px;
}

.menu {
  @include no-select;

  position: fixed;
  z-index: var(--z-menu);
  right: 0;
  left: 0;
  padding: var(--space-gutter);

  &__wrapper {
    position: relative;

    display: flex;
    justify-content: space-between;
    gap: var(--space-gutter);
    max-width: var(--max-width);
    margin-inline: auto;
  }

  #home {
    @include easing(height);
    position: fixed;
    left: var(--space-gutter);

    display: block;
    height: var(--menu-logo-height);

    color: var(--menu-logo-color);

    contain: layout;

    &.is-active {
      height: var(--menu-logo-active-height);
    }

    svg {
      width: auto;
      height: 100%;
    }
  }

  &__items {
    position: absolute;
    right: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11ch, 1fr));
    gap: var(--menu-item-gap);
    width: 100%;
    max-width: max(var(--menu-items-width), var(--menu-items-max-width));
  }

  &__item a {
    @include font('menu');

    display: block;
    padding: var(--menu-item-padding);
    color: var(--menu-item-color);
    background: var(--menu-item-background);
    border-radius: var(--menu-item-radius);

    &:hover {
      color: var(--menu-item-hover-color, var(--menu-item-color));
      background: var(--menu-item-hover-background, var(--menu-item-background));
    }

    &.is-active {
      color: var(--menu-item-active-color, var(--menu-item-color));
      background: var(--menu-item-active-background, var(--menu-item-background));
    }
  }
}
