:root {
  --projects-offy: 10rem;

  --project-gap: 10px;
  --project-gallery-gap: 5px;
  --project-gallery-radius: 5px;
  --project-meta-padding: 5px;
}

.projects {
  padding-inline: 0 !important;
  padding-top: var(--space-large) !important;
  margin-top: 0 !important;

  h2 {
    @include font('zone');
    font-weight: 300;

    @include mobile {
      margin-left: var(--space-gutter);
    }
  }

  &__viewport {
    display: grid;
    grid-template-columns: 2fr 3fr; // ???

    @include mobile {
      display: block;
    }
  }

  &__items {
    padding-top: calc(var(--space-gutter) / 2);
  }

  &__item {
    @include no-select;

    display: flex;
    padding-block: calc(var(--space-gutter) / 2);
    padding-right: var(--project-gap);
    padding-left: calc((100vw - $max-width) / 2);

    border-top: 1px solid;
    border-bottom: 1px solid;

    @include narrow {
      padding-left: calc(var(--menu-logo-width) + var(--space-gutter) * 2);
    }

    @include mobile {
      padding-left: var(--space-gutter);
    }

    & + * { margin-top: -1px; }

    details {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    h3 {
      @include font('zone');
    }

    details summary svg {
      @include easing(transform);
      width: auto;
      height: 1em;
      transform: rotate(0);
    }

    details[open] summary svg {
      transform: rotate(90deg);
    }

    .description {
      padding-right: var(--space-gutter);
      margin-top: calc(var(--space-gutter) / 2);
      margin-bottom: var(--space-gutter);

      font-size: 90%;
      font-weight: 600;
      line-height: 120%;
    }

    .metas {
      @include font('menu');
      @include mobile {
        font-size: var(--body-font-size);
      }
    }

    .meta {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--project-meta-padding);
      padding-block: var(--project-meta-padding);
      padding-right: var(--space-gutter);

      & + .meta {
        border-top: 1px solid;
      }

      &[data-label]::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  &__item .gallery,
  &__gallery {
    @include invisible-scroll(x);
    display: flex;
    gap: var(--project-gallery-gap);

    @include mobile {
      padding-top: var(--space-gutter);
    }

    li {
      flex: 0 0 auto;
    }

    img {
      border-radius: var(--project-gallery-radius);

      @include mobile {
        max-width: 70vw;
      }
    }
  }

  &__item .gallery { @include desktop { display: none; } }

  &__gallery {
    position: relative;
    margin-left: var(--project-gap);
    border-bottom-left-radius: var(--project-gallery-radius);
    border-top-left-radius: var(--project-gallery-radius);

    @include mobile { display: none; }

    img {
      max-height: 70vh;
    }
  }
}
