@import '/style/reset';
@import '/style/fonts';
@import '/style/prose';

:root {
  --max-width: 1440px;

  --color-white: #FAF1E3;
  --color-darkgreen: #00453B;
  --color-kiwi: #9EEF20;

  --space-gutter: 4rem;

  --easing: 200ms;
  --easing-slow: 500ms;

  --z-menu: 1;

  --switzer: switzer, sans-serif;
  --geist-mono: geist-mono, monospace;

  --body-font-family: var(--switzer);
  --body-font-size: 1.8rem;
  --body-line-height: 130%;
  --body-text-decoration-thickness: 1px;
  --body-text-underline-offset: 0.2em;

  --menu-font-family: var(--geist-mono);
  --menu-font-size: 1.5rem;
  --menu-font-weight: 500;

  --title-font-family: var(--geist-mono);
  --title-font-size: 14.0rem;
  --title-line-height: 100%;
  --title-font-weight: 600;

  --footer-font-family: var(--switzer);
  --footer-font-size: 1.8rem;

  @supports (font-variation-settings: normal) {
    --switzer: switzer-v, sans-serif;
    --geist-mono: geist-mono-v, monospace;
  }

  @include mobile {
    --title-font-size: 6.0rem;
    --body-font-size: 2.2rem;
  }

  @include retina {
    --body-text-decoration-thickness: 15px;
  }
}

/* stylelint-disable no-invalid-position-at-import-rule */

@import '/style/base';
@import '/components/Breadcrumb';
@import '/components/Menu';
@import '/components/Footer';
@import '/components/ScrollStory';
@import '/components/Section';
@import '/views/activity';
@import '/views/default';
@import '/views/home';
