@import '/style/reset';
@import '/style/fonts';
@import '/style/prose';

:root {
  --color-white: #FAF1E3;
  --color-darkgreen: #00453B;
  --color-kiwi: #9EEF20;
  --color-paprika: #ff511d;

  --space-gutter: 4rem;
  --space-padding: 6rem;
  --space-large: 10rem;

  --easing: 200ms;
  --easing-slow: 500ms;

  --z-logo: 10;
  --z-menu: 9;

  --switzer: switzer, sans-serif;
  --geist-mono: geist-mono, monospace;

  --body-font-family: var(--switzer);
  --body-font-size: 1.8rem;
  --body-line-height: 130%;

  --header-font-family: var(--switzer);
  --header-font-size: 2.5rem;
  --header-line-height: 130%;

  --body-mono-font-family: var(--geist-mono);
  --body-mono-font-size: 1.6rem;
  --body-mono-line-height: 130%;

  --menu-font-family: var(--geist-mono);
  --menu-font-size: 1.4rem;
  --menu-font-weight: 500;

  --title-font-family: var(--geist-mono);
  --title-font-size: 14.0rem;
  --title-line-height: 100%;
  --title-font-weight: 600;

  --zone-font-family: var(--geist-mono);
  --zone-font-size: 3rem;
  --zone-font-weight: 600;
  --zone-line-height: 110%;
  --zone-text-transform: uppercase;

  --footer-font-family: var(--switzer);
  --footer-font-size: 1.8rem;

  @supports (font-variation-settings: normal) {
    --switzer: switzer-v, sans-serif;
    --geist-mono: geist-mono-v, monospace;
  }

  @include mobile {
    --title-font-size: 6.0rem;
    --body-font-size: 2.2rem;
  }

  @include retina {
    --body-text-decoration-thickness: 15px;
  }
}

/* stylelint-disable no-invalid-position-at-import-rule */

@import '/style/base';
@import '/components/Activity';
@import '/components/Breadcrumb';
@import '/components/Footer';
@import '/components/Mask';
@import '/components/Menu';
@import '/components/Projects';
@import '/components/Section';
@import '/views/about';
@import '/views/activity';
@import '/views/contact';
@import '/views/default';
@import '/views/home';
